* {
	margin: 0;
	font-family: 'Montserrat', serif;
	text-align: center;
}

.menu {
	padding-left: 75%;
	padding-top: 2%;
	background-color: lightblue;
}

ul {
	list-style: none;
	height: 70px;
	/*padding-left: 40px;*/

}

li {
	display: inline-block;
	padding: 6px;
}

.title {
	font-size: 30px;
	padding-top: 2%;
}

h1, h3, p {
	text-align: center;
	margin-bottom: 2%;
}

